<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         testdox="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="TestProj Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    
    <!-- Настройки для покрытия кода (если нужно) -->
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>